html{
    font-size: 62.5%;
    padding-bottom: 550px;
    

}
h1{
    font-size: 3.4em;
}
p{
    font-size: 3rem;
    width: 10em;
    background-color: #ccc;
}
b{
    color: blue;
    font-size: 3rem;

}


.porcentagem {
    width: 10em;
    height: 50em;
    background-color: aquamarine;

}
.porcentagem p{
    background-color: orange;
    height: 20ch;
    font-size: 3rem;
    

}